* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.pattern-dots {
  height: fit-content;
  background-image: radial-gradient(rgba(10, 61, 63, 0.1) 2px, transparent 0px);
  background-size: 20px 20px;
}

.pattern-diagonal {
  background: linear-gradient(135deg, rgba(10, 61, 63, .03) 25%, transparent 0) -10px 0, linear-gradient(225deg, rgba(10, 61, 63, .03) 25%, transparent 0) -10px 0, linear-gradient(315deg, rgba(10, 61, 63, .03) 25%, transparent 0), linear-gradient(45deg, rgba(10, 61, 63, .03) 25%, transparent 0);
  background-size: 20px 20px;
}